In [1]:
from pathlib import Path
from ThreeWToolkit.dataset import ParquetDataset, DatasetConfig
from ThreeWToolkit.core.base_dataset import EventPrefixEnum

## Download from figshare if not on local yet.
Will raise if `download=True` but file exists.

May take a while to download from figshare.

For now, only v2.0.0 is implemented, but we check for correctness of other versions as well.

In [4]:
dataset_path = Path("./dataset")
ds_config = DatasetConfig(path=dataset_path, split=None, file_type="parquet") # load all files, target defaults to 'class'
ds = ParquetDataset(ds_config, download=True) # download

3w_dataset_2.0.0.zip: 100%|████████████████████████████████████████████████████████████████████████████████████████████████████████| 1.79G/1.79G [38:09<00:00, 784kB/s]

## Get number of events

In [4]:
# number of loaded events
len(ds)

2228

## Signal and label split
Output format is a dictionary.

Metadata may be added to dict as needed.

In [36]:
# dictionary keys:
print(list(ds[220].keys()))

['signal', 'label']

In [37]:
ds[0]['signal']

,ABER-CKGL,ABER-CKP,ESTADO-DHSV,ESTADO-M1,ESTADO-M2,ESTADO-PXO,ESTADO-SDV-GL,ESTADO-SDV-P,ESTADO-W1,ESTADO-W2,...,P-PDG,PT-P,P-TPT,QBS,QGL,T-JUS-CKP,T-MON-CKP,T-PDG,T-TPT,state
timestamp,,,,,,,,,,,,,,,,,,,,,
2017-06-24 23:00:38,0.0,27.90459,0.0,1.0,0.0,0.0,NaN,1.0,1.0,1.0,...,NaN,NaN,20752050.0,NaN,NaN,65.26942,NaN,NaN,106.0993,<NA>
2017-06-24 23:00:39,0.0,27.90458,0.0,1.0,0.0,0.0,NaN,1.0,1.0,1.0,...,NaN,NaN,20753200.0,NaN,NaN,65.27189,NaN,NaN,106.0998,<NA>
2017-06-24 23:00:40,0.0,27.90458,0.0,1.0,0.0,0.0,NaN,1.0,1.0,1.0,...,NaN,NaN,20752050.0,NaN,NaN,65.27435,NaN,NaN,106.0953,<NA>
2017-06-24 23:00:41,0.0,27.90457,0.0,1.0,0.0,0.0,NaN,1.0,1.0,1.0,...,NaN,NaN,20750900.0,NaN,NaN,65.27682,NaN,NaN,106.0908,<NA>
2017-06-24 23:00:42,0.0,27.90456,0.0,1.0,0.0,0.0,NaN,1.0,1.0,1.0,...,NaN,NaN,20752050.0,NaN,NaN,65.27928,NaN,NaN,106.0923,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-06-25 01:59:56,0.0,27.84673,0.0,1.0,0.0,0.0,NaN,1.0,1.0,1.0,...,NaN,NaN,20818930.0,NaN,NaN,67.28551,NaN,NaN,106.1403,0
2017-06-25 01:59:57,0.0,27.84673,0.0,1.0,0.0,0.0,NaN,1.0,1.0,1.0,...,NaN,NaN,20819160.0,NaN,NaN,67.29739,NaN,NaN,106.1448,0
2017-06-25 01:59:58,0.0,27.84674,0.0,1.0,0.0,0.0,NaN,1.0,1.0,1.0,...,NaN,NaN,20819390.0,NaN,NaN,67.30928,NaN,NaN,106.1493,0
2017-06-25 01:59:59,0.0,27.84674,0.0,1.0,0.0,0.0,NaN,1.0,1.0,1.0,...,NaN,NaN,20819620.0,NaN,NaN,67.32116,NaN,NaN,106.1538,0
2017-06-25 02:00:00,0.0,27.84674,0.0,1.0,0.0,0.0,NaN,1.0,1.0,1.0,...,NaN,NaN,20819850.0,NaN,NaN,67.33305,NaN,NaN,106.1583,0

In [38]:
ds[0]['label']

                     class
timestamp
2017-06-24 23:00:38   <NA>
2017-06-24 23:00:39   <NA>
2017-06-24 23:00:40   <NA>
2017-06-24 23:00:41   <NA>
2017-06-24 23:00:42   <NA>
...                    ...
2017-06-25 01:59:56      4
2017-06-25 01:59:57      4
2017-06-25 01:59:58      4
2017-06-25 01:59:59      4
2017-06-25 02:00:00      4

[10763 rows x 1 columns]

## Customizable label selection
May, for instance, unselect any label

In [39]:
ds_config = DatasetConfig(path=dataset_path, split=None, file_type="parquet", target_column=None) # unset target column
ds = ParquetDataset(ds_config, download=False) # no need to download, will error if file already exists

In [40]:
# check content
len(ds), list(ds[0].keys()) # should have no 'label'

(2228, ['signal'])

In [42]:
ds[0]['signal'] # Should contain 'class' column

,ABER-CKGL,ABER-CKP,ESTADO-DHSV,ESTADO-M1,ESTADO-M2,ESTADO-PXO,ESTADO-SDV-GL,ESTADO-SDV-P,ESTADO-W1,ESTADO-W2,...,PT-P,P-TPT,QBS,QGL,T-JUS-CKP,T-MON-CKP,T-PDG,T-TPT,class,state
timestamp,,,,,,,,,,,,,,,,,,,,,
2018-04-26 00:20:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.988112e+07,NaN,NaN,84.083661,86.093931,NaN,122.925200,0,0
2018-04-26 00:20:01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.988117e+07,NaN,NaN,84.083650,86.093920,NaN,122.925200,0,0
2018-04-26 00:20:02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.988122e+07,NaN,NaN,84.083640,86.093901,NaN,122.925200,0,0
2018-04-26 00:20:03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.988127e+07,NaN,NaN,84.083620,86.093890,NaN,122.925299,0,0
2018-04-26 00:20:04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.988132e+07,NaN,NaN,84.083611,86.093872,NaN,122.925300,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-04-26 08:28:14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.780136e+07,NaN,NaN,82.477910,84.143450,NaN,122.319786,5,0
2018-04-26 08:28:15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.780115e+07,NaN,NaN,82.477910,84.143450,NaN,122.319610,5,0
2018-04-26 08:28:16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.780122e+07,NaN,NaN,82.477910,84.143450,NaN,122.319600,5,0
2018-04-26 08:28:17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.780135e+07,NaN,NaN,82.477910,84.143450,NaN,122.319798,5,0
2018-04-26 08:28:18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.780118e+07,NaN,NaN,82.477910,84.143450,NaN,122.319617,5,0

## Event type splitting
Can select any combination of drawn, simulated and real events

In [43]:
event_types = [EventPrefixEnum.DRAWN, EventPrefixEnum.SIMULATED]
ds_config = DatasetConfig(path=dataset_path, split=None, file_type="parquet", event_type=event_types) # get only drawn
ds = ParquetDataset(ds_config, download=False)
len(ds) # should be much smaller /

1109

In [44]:
event_types = [EventPrefixEnum.REAL,]
ds_config = DatasetConfig(path=dataset_path, split=None, file_type="parquet", event_type=event_types) # get only drawn
ds = ParquetDataset(ds_config, download=False)
len(ds) # should be much smaller /

1119

## Event class splitting
Can select any combination of class events sourced from class {0, 1, 2, ...}

In [45]:
target_class = [0]
ds_config = DatasetConfig(path=dataset_path, split=None, file_type="parquet", target_class=target_class) # get only drawn
ds = ParquetDataset(ds_config, download=False)
len(ds)

594

In [46]:
target_class = [4]
ds_config = DatasetConfig(path=dataset_path, split=None, file_type="parquet", target_class=target_class) # get only drawn
ds = ParquetDataset(ds_config, download=False)
len(ds)

343

In [47]:
target_class = [0, 4]
ds_config = DatasetConfig(path=dataset_path, split=None, file_type="parquet", target_class=target_class) # get only drawn
ds = ParquetDataset(ds_config, download=False)
len(ds)

937

## File list splitting
May use a list to select loaded events
Useful for customized train/val/test splitting

In [49]:
with open("./dataset/my_split.txt", "r") as f:
    split = [line.strip() for line in f]
split, len(split)

(['./0/WELL-00008_20170817140222.parquet',
  './3/SIMULATED_00061.parquet',
  './4/WELL-00004_20140806090103.parquet',
  './6/SIMULATED_00117.parquet',
  './0/WELL-00001_20170201110124.parquet',
  './5/SIMULATED_00138.parquet',
  './4/WELL-00005_20170624070158.parquet',
  './8/SIMULATED_00044.parquet',
  './5/SIMULATED_00303.parquet',
  './9/SIMULATED_00028.parquet',
  './8/SIMULATED_00072.parquet',
  './7/WELL-00022_20180802233838.parquet',
  './0/WELL-00003_20170812110000.parquet',
  './9/SIMULATED_00115.parquet',
  './1/SIMULATED_00025.parquet',
  './9/SIMULATED_00065.parquet',
  './6/SIMULATED_00041.parquet',
  './5/SIMULATED_00329.parquet',
  './4/WELL-00004_20141118160016.parquet',
  './6/SIMULATED_00095.parquet'],
 20)

In [52]:
ds_config = DatasetConfig(path=dataset_path, split="list", file_type="parquet", file_list=split) # get only files in split
ds = ParquetDataset(ds_config)
len(ds)

20

In [53]:
ds[0]['signal']

,ABER-CKGL,ABER-CKP,ESTADO-DHSV,ESTADO-M1,ESTADO-M2,ESTADO-PXO,ESTADO-SDV-GL,ESTADO-SDV-P,ESTADO-W1,ESTADO-W2,...,P-PDG,PT-P,P-TPT,QBS,QGL,T-JUS-CKP,T-MON-CKP,T-PDG,T-TPT,state
timestamp,,,,,,,,,,,,,,,,,,,,,
2017-08-17 14:02:22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>
2017-08-17 14:02:23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>
2017-08-17 14:02:24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>
2017-08-17 14:02:25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>
2017-08-17 14:02:26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-08-17 19:57:09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2017-08-17 19:57:10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2017-08-17 19:57:11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2017-08-17 19:57:12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2017-08-17 19:57:13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [54]:
ds[0]['label']

                     class
timestamp
2017-08-17 14:02:22   <NA>
2017-08-17 14:02:23   <NA>
2017-08-17 14:02:24   <NA>
2017-08-17 14:02:25   <NA>
2017-08-17 14:02:26   <NA>
...                    ...
2017-08-17 19:57:09      0
2017-08-17 19:57:10      0
2017-08-17 19:57:11      0
2017-08-17 19:57:12      0
2017-08-17 19:57:13      0

[21292 rows x 1 columns]